Q1 ->
Characterstics of tuple:
    1 Ordered
    2 allows duplicate valuess
    3 Immutable
yes tuples are immutable

In [3]:
# Q2->
# the two tuple methods are :
# count() and index()
t1 = (1,2,3,'Samson',False,3)

# for count() funtion:
#     it returns the number of Occurnece of a value
t1.count(3)

2

In [4]:
# index() return first index of value
t1.index('Samson')

# The main reason why tuples have only 2 functio  is that there are immutable and they don't want to change its internal value

3

In [8]:
# Q3->
# sets do not allow duplicate values

# code:

List = [1, 1, 1, 2, 1, 3, 1, 4, 2, 1, 2, 2, 2, 3, 2, 4, 3, 1, 3, 2, 3, 3, 3, 4, 4, 1, 4, 2, 4, 3, 4, 4]
Sets = set(List)
Sets

{1, 2, 3, 4}

In [12]:
# Q4 ->
# update() adds all missing elements to the set on which it is called whereas set. union() creates a new set.

set = {1,2,3,4,5}
set.union({8})

{1, 2, 3, 4, 5, 8}

In [13]:
set.update({45})

In [14]:
set

{1, 2, 3, 4, 5, 45}

In [16]:
# Q5->
#  Dictionaries are used to store data values in key:value pairs. 
#  A dictionary is a collection which is ordered, changeable and do not allow duplicates.

Dict = {"Nme": "Samson", "Age": 22, "Course": "DSM"}
Dict

# Dictionaries are ordered

{'Nme': 'Samson', 'Age': 22, 'Course': 'DSM'}

In [20]:
# Q6 ->
# Yes we can create Nested Dictionaries

School = {"class" : {"Name" : "Lotus"}}

School

{'class': {'Name': 'Lotus'}}

In [28]:
# Q7->
dict1 = {'language' : 'Python', 'course': 'Data Science Masters'}
dict1.setdefault('topics', ["Python" , "Machine Learning", "Deep Learning"])
dict1

{'language': 'Python',
 'course': 'Data Science Masters',
 'topics': ['Python', 'Machine Learning', 'Deep Learning']}

In [30]:
# Q8->
# the three view objects in dictionaries are Keys, Values and Items

dict1 = {'Sport': 'Cricket' , 'Teams': ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand']}
dict1.keys()

dict_keys(['Sport', 'Teams'])

In [31]:
dict1.values()

dict_values(['Cricket', ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand']])

In [32]:
dict1.items()

dict_items([('Sport', 'Cricket'), ('Teams', ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand'])])